h1{
    font-family: Cormorant;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

h2{
    font-family: Cormorant;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: white;
}

h3{
    font-family: Cormorant;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

p, input{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.bold{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
}

a{
    text-decoration: none;
}