.new-artifacts {
    display: flex;
    flex-direction: column;
    margin: 0 130px;
    padding: 80px 0;

    &__title {
        font-family: Cormorant;
        font-size: 48px;
        font-style: italic;
        font-weight: 700;
        line-height: 48px;
        color: white;
    }
  
    &__content {
      display: flex;
      justify-content: space-between;
    }
  
    &__images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }
  
    &__image {
      max-width: 100%;
      height: auto;
    }
  
    &__info {
      width: 40%;
      background-color: $primary-green;
    }
  
    &__info-title {
        font-family: Cormorant;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
    }
  
    &__info-text {
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }
  

  }
  